@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-size-Extra-small-devices: 14px;
  --font-size-Medium-devices: 16px;
  --font-size-Large-devices: 18px;
  --font-size-Extra-large-devices: 20px;
}
html {
  scroll-behavior: smooth;
}
header {
  top: 0px;
  left: 0%;
  right: 0%;
  background-color: #0284c7;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  z-index: 100;
  padding: 0px 15px;
}
header img {
  padding: 10px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: auto;
}
.links {
  position: relative;
}
ul {
  list-style-type: none;
  display: none;
}

.links:hover ul {
  display: block;
  position: absolute;
  top: 50px;
  right: -70px;
}
li {
  padding: 15px;
  background-color: #0284c7;
}
li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
li a:active {
  color: #0284c7;
}

header i {
  display: block;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 350px) {
  .links:hover ul {
    display: block;
    position: absolute;
    top: 50px;
    right: -70px;
  }
}

/* button {
  border-radius: 10px 15px;
  border: none;
  padding: 10px;
  font-size: var(--font-size-Extra-small-devices);
} */
/* Extra small devices (phones, 600px and down) */
/* الأجهزة الصغيرة جدًا (الهواتف، 600 بكسل وما دون) */
@media only screen and (max-width: 600px) {
  /*  t is default media */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* الأجهزة الصغيرة (الأجهزة اللوحية العمودية والهواتف الكبيرة، 600 بكسل وما فوق) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
/* الأجهزة المتوسطة (الأجهزة اللوحية ذات الشاشة الأفقية، 768 بكسل وما فوق) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
/* الأجهزة الكبيرة (أجهزة الكمبيوتر المحمولة/المكتبية، 992 بكسل وما فوق) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* الأجهزة الكبيرة جدًا (أجهزة الكمبيوتر المحمولة والمكتبية الكبيرة، 1200 بكسل وما فوق) */
@media only screen and (min-width: 1200px) {
}
/* 
/* @media only screen and (max-width: 900px) {
  header p {
    font-size: 16px;
  }
} 
.container {
  width: 100%;
}
@media (min-width: 900px) {
  .burgerIcon {
    display: none;
  }
}


@media (max-width: 900px) {
  ul {
    display: none;
    position: absolute;
    background-color: #0284c7;
    top: 7%;
    left: 75%;
    width: 200px;
  }}
  @media (max-width: 375px) {
  ul {
    top: 7%;
    left: 45%;
    /* width: 200px; */
/*
  }}
    @media (max-width: 414px) {
  ul {
    top: 7%;
    left: 45%;
    /* width: 200px; */
/*

  header:hover ul {
    display: block;
  }

  ul a:visited {
    text-align: center;
  }
  ul a {
    color: black;
  }
  li {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
}

ul a:visited {
  color: white;
}

ul a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
}
/* @media (max-width: 768px) {
  ul {
    top: 50%;
    left: 150%;
  } */
/*
header button {
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  border: 0.0625rem solid #0284c7;
  background-color: white;
  color: #0284c7;
  padding: 0.3125rem 0.625rem;
}

/* header button a {
    margin:1.25rem;
  } */
/*
header button a {
  color: #0284c7;
}
header button a i {
  color: green;
}

/* start container stayle */
/*
.container {
  width: 70%;
  margin: 9.375rem auto;
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

.About {
  display: flex;
  height: 60%;
  height: 350px;
  margin: 100px 0;
  padding-top: 20px;
}
.About img {
  width: 12.5rem;
  border-radius: 50%;
  height: 12.5rem;
}
@media(min-width:768px)
{
  .About img{
    width: 100px;
  }
}
.text p:first-child {
  color: #0284c7;
  margin: 0.625rem 0;
}
.text h2 {
  margin: 0.625rem 0;
}
.text :nth-child(3) {
  color: rgba(0, 0, 0, 50%);
  margin: 0.625rem 0;
}
.buttons {
  margin: 0.625rem;
}
.Hire_Me,
.Download_CV {
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  padding: 0.3125rem 0.625rem;
  margin-right: 0.625rem;
}
.Hire_Me {
  background-color: #0284c7;
  border: 0.0625rem solid #0284c7;
  color: white;
}
.Download_CV {
  border: 0.0625rem solid #0284c7;
  background-color: white;
  color: #0284c7;
}
.buttons a {
  text-decoration: none;
  color: #0284c7;
}
.buttons a:visited {
  color: #0284c7;
}
.section {
  padding-top: 50px;
}
.Education {
  margin: 1.25rem 0;
  padding: 1.25rem;
  background-color: #0284c7;
  align-items: center;
  text-align: center;
  height: 18.75rem;
  color: white;
}
.Education .header {
  position: relative;
}
/* .Education h2 {
  margin-top: 1.25rem;
} */
/*
.Education h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 0.125rem;
  background-color: white;
  bottom: -0.125rem;
  width: 7.5rem;
}
.Education h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 0.125rem solid black white;
  background-color: white;
  border-radius: 50%;
  height: 0.875rem;
  bottom: -0.5625rem;
  width: 15px;
}
.boxs {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.box {
  background-color: white;
  color: #0284c7;
  border: 1px solid black;
  width: 30%;
  padding: 20px;
  margin: 20px;
}
.left::before {
  content: "";
  position: absolute;
  left: 133%;
  transform: translate(-50%);
  height: 11.125rem;
  background-color: white;
  bottom: -7.125rem -114px;
  width: 0.5rem;
  top: -2px;
}
.left::after {
  content: "";
  position: absolute;
  left: 133%;
  transform: translate(-50%);
  border: 0.125rem solid #334155;
  background-color: #334155;
  border-radius: 50%;
  height: 25px;
  bottom: 1.4375rem;
  width: 25px;
}
.right::after {
  content: "";
  position: absolute;
  left: -35%;
  transform: translate(-50%);
  border: 0.125rem solid #334155;
  background-color: #334155;
  border-radius: 50%;
  height: 25px;
  bottom: 1.4375rem;
  width: 25px;
}

.left {
  margin-top: 20px;
  position: relative;
}
.right {
  margin-top: 20px;
  top: 100px;
  position: relative;
}

.Skills {
  margin: 6.25rem 0;
  padding: 1.25rem;
  align-items: center;
  text-align: center;
  height: 18.75rem;
}
.Skills .header {
  position: relative;
}
/* .Education h2 {
  margin-top: 1.25rem;
} */
/*
.Skills h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 0.125rem;
  background-color: black;
  bottom: -0.125rem;
  width: 4.5rem;
}
.Skills h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 0.125rem solid black white;
  background-color: black;
  border-radius: 50%;
  height: 0.875rem;
  bottom: -0.5625rem;
  width: 15px;
}
.Skills-icons {
  margin: 100px 0;
}
.Skills-icons i {
  font-size: 100px;
  margin: 0px 50px;
}
.CONTACT {
  margin: 6.25rem 0;
  padding: 1.25rem;
  align-items: center;
  text-align: center;
  height: 18.75rem;
}
.CONTACT .header {
  position: relative;
}
/* .Education h2 {
  margin-top: 1.25rem;
} */
/*
.CONTACT h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 0.125rem;
  background-color: black;
  bottom: -0.125rem;
  width: 4.5rem;
}
.CONTACT h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 0.125rem solid black;
  background-color: black;
  border-radius: 50%;
  height: 0.875rem;
  bottom: -0.5625rem;
  width: 15px;
}
form {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 10px 10px black;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
}
@media (max-width: 768px) {
  .bodeContant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CONTACT form {
    width: fit-content;
    display: flex;
  }
  .bodeContant img {
    width: 100%;
  }
}
label {
  display: block;
}
input {
  padding: 10px;
  color: #334155;
}
input[type="submit"] {
  margin: 20px 0;
  background-color: #0284c7;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
/* End container stayle */
/*
.bodeContant {
  display: flex;
  justify-content: space-between;
}
.social i {
  font-size: 40px;
  padding: 0 10px;
} */
